:root {
    --h-footer: 6.8em;
}

.grid-layout {
    display: grid;
    grid-template: 'side main' calc(100vh - var(--h-footer))
        'footer footer' 5.5em/ 18em 1fr;
}

.side {
    grid-area: side;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}

/* Sizes also in 'tailwind.config.js' */
@media ((min-width: 965px) and (max-width: 1280px)) {
    .grid-layout {
        grid-template: 'side main' calc(100vh - var(--h-footer))
            'footer footer' 5.5em/ 31% 1fr;
    }
}

@media (min-width: 1280px) {
    .grid-layout {
        grid-template: 'side main' calc(100vh - var(--h-footer))
            'footer footer' 5.5em/ 25em 1fr;
    }
}